{% extends 'base.html' %}
{% load static %}

{% block title %}Connexion | ÉvénementsCo{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}

<div class="pay-container">
    <div class="pay-card">
    <h2>Reservation</h2>
    <form method="POST" action="{% url 'payment' %}">
        {% csrf_token %}
        <label for="nom">Nom</label>
        <input type="text" name="nom" required>

        <label for="telephone">Téléphone (Mobile Money)</label>
        <input type="text" name="telephone" placeholder="77XXXXXXXX" required>

        <label for="montant">Montant (FCFA)</label>
        <input type="number" name="montant" value="{{ evenement.prix }}" readonly>

        <label for="operateur">Opérateur</label>
        <select name="operateur" required>
            <option value="">Choisir</option>
            <option value="wave">Wave</option>
            <option value="orange">Orange Money</option>
        </select>

        <button type="submit">Payer</button>
    </form>
    </div>
</div>

{% endblock %}